@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  font-family: "Quicksand";
  color: rgb(1, 0, 0);
}

.card {
  backface-visibility: hidden;
  border-radius: 5px;
  min-width: 80%;
  position: absolute;
  left: 100px;
  padding: 5px;

  text-align: center;
}

.btnConnect {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.mint {

  padding: 9px 9px;
  cursor: pointer;
  background-color: rgb(214, 33, 169);
  position: absolute;
  top: 77%;
  left: 45%;
  
}
